.button {
  display: block;
  background-color: var(--primary);
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
  max-width: 400px;
  font-weight: bold;
  transition: 0.3s all ease-in-out;
  color: #fafafa;
}

.button:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.transparentButton {
  font-size: 1.6rem;
  color: var(--header-text);
  display: inline-block;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.transparentButton::before {
  content: '↓ ';
}

.transparentButton:hover {
  color: var(--primary);
  cursor: pointer;
}
