.base {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  transition: 0.3s all ease-in-out;
  padding: 1rem 2rem;
  border: 2px solid var(--primary);
  margin: 0;
}

.base:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.cta {
  background-color: var(--primary);
  color: #fafafa;
}

.cta::before {
  content: '»';
  margin-right: 0.5rem;
}

.secondary {
  background-color: transparent;
  border: 2px solid var(--header-text);
  color: var(--header-text);
}

.transparent {
  font-size: 1.5rem;
  color: var(--text);
  text-transform: uppercase;
  padding: 0;
  border: none;
}

.transparent::before {
  color: var(--primary);
  content: '↓ ';
  font-size: 2rem;
  position: relative;
  top: 3px;
}

.transparent:hover {
  color: var(--primary);
}

.social {
  border: none;
  padding: 0;
  margin: 0;
}

.social:hover {
  transform: none;
}

.social svg {
  fill: var(--text);
  width: 50px;
  height: 50px;
  padding: 1rem;
}

.social svg:hover {
  fill: var(--primary);
}

@media (max-width: 560px) {
  .cta {
    padding: 1rem;
  }
  .social svg {
    padding: 0.8rem;
  }
}
