.block {
  width: 100%;
  margin-top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  padding: 5rem 0rem;
  min-width: 560px;
  width: 560px;
}

.heading {
  font-size: 3rem;
  color: var(--foreground);
  line-height: 1.2;
}

.paragraph {
  font-size: 1.5rem;
  color: var(--text);
  margin: 2rem 0;
}

.photoWrapper {
  width: 100%;
  max-width: 400px;
  height: max-content;
  position: relative;
  margin-left: 2rem;
}

.photo,
.video {
  background: url('../../assets/videos/cool.mp4');
  border-radius: 50%;
  width: 100%;
}

.photo {
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 960px) {
  .wrapper {
    display: flex;
    flex-direction: column-reverse;
    padding: 2rem;
  }
  .photoWrapper {
    max-width: 300px;
    margin: 0;
  }
  .content {
    min-width: 0;
    width: 100%;
    max-width: 430px;
    padding: 1rem 0;
    text-align: center;
  }
  .heading {
    font-size: 2rem;
  }
  .paragraph {
    font-size: 1.2rem;
  }
}

@media (max-width: 460px) {
  .wrapper {
    padding: 1rem 2rem;
  }
  .photoWrapper {
    max-width: 160px;
  }
  .content {
    padding-bottom: 0rem;
  }
  .heading {
    font-size: 1.5rem;
  }
  .paragraph {
    margin: 1rem 0;
    font-size: 1rem;
  }
}
