.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5rem 0;
}

.container:nth-of-type(even) {
  flex-direction: row-reverse;
}

.thumbnail {
  min-width: 460px;
  width: 100%;
  filter: drop-shadow(40px 20px 30px var(--shadow));
}

.container:nth-child(even) .thumbnail {
  filter: drop-shadow(-40px 20px 30px var(--shadow));
}

.content {
  max-width: 500px;
}

.title {
  font-size: 3rem;
  color: var(--foreground);
}

.tagContainer {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  color: var(--text);
  background: var(--tag);
  padding: 0.1rem 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  transition: 2s all ease-in-out;
}

.description {
  color: var(--text);
  margin: 1rem 0 2rem 0;
  font-size: 1.2rem;
}

.button {
  margin-right: 1rem;
  padding: 0.5rem 2rem;
}

@media (max-width: 960px) {
  .tagContainer {
    justify-content: center;
  }

  .container,
  .container:nth-of-type(even) {
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
  }

  .thumbnail,
  .container:nth-child(even) .thumbnail {
    min-width: 0;
    width: 100%;
    max-width: 400px;
    filter: drop-shadow(-40px 20px 30px var(--shadow));
  }

  .content {
    width: 100%;
    max-width: 600px;
    text-align: center;
  }

  .title {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1.5rem;
  }

  .button {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  .tagContainer {
    justify-content: left;
  }

  .container {
    margin: -2rem 0;
  }

  .thumbnail,
  .container:nth-child(even) .thumbnail {
    min-width: 0;
    max-width: none;
  }

  .content {
    text-align: left;
  }

  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1.1rem;
  }

  .button {
    font-size: 1rem;
  }
}
