.wrapper {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  filter: drop-shadow(10px 10px 20px #00000011);
}

.thumbnail {
  width: 100%;
  margin-bottom: -7px;
}

.content {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  color: var(--bg);
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.content *:not(.footer) {
  margin-bottom: 1rem;
}

.title {
  color: #202020;
}

.excerpt {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #00000033;
  padding-top: 0.8rem;
}

.date,
.views {
  margin: 0;
  font-size: 0.9rem;
}

.views::after {
  content: ' views';
}
