.base {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s all ease-in-out;
  padding: 0 2rem;
  min-height: 100vh;
  max-width: 1280px;
}

.slideDown {
  margin-top: 233px;
  opacity: 30%;
}
