.block {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10rem 2rem;
}

.title {
  font-size: 4rem;
  color: var(--foreground);
}

.paragraph {
  font-size: 1.5rem;
  color: var(--text);
  margin: 2rem 0;
}

@media (max-width: 460px) {
  .title {
    font-size: 3rem;
  }
  .paragraph {
    font-size: 1.3rem;
  }
}
