.block {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 30px 30px 30px;
}

.testButton {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    width: 100%;
}

.title {
    font-size: 3.5rem;
    color: var(--secondary);
    margin-bottom: 1rem;
}

.paragraph {
    font-size: 1.5rem;
    color: var(--text);
    margin: 2rem 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Titillium', sans-serif;
    width: 100%;
    text-align: left;
}

.label {
    display: none;
}

.inputText,
.inputTextArea {
    font-family: 'Titillium', sans-serif;
    width: 100%;
    border: 1px solid var(--line);
    outline: none;
    padding: 0.7rem 1rem;
    background-color: var(--line);
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1rem;
    color: var(--secondary);
}

.inputText::placeholder,
.inputTextArea::placeholder {
    color: var(--text);
}

.inputText:focus,
.inputTextArea:focus {
    border: 1px solid var(--success);
    outline: none;
}

.inputTextArea {
    resize: none;
    vertical-align: top;
}

.inputSubmit {
    background-color: var(--primary);
    color: var(--secondary);
    border: 2px solid var(--accent);
    cursor: pointer;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    width: max-content;
    margin: 1rem auto 0 auto;
}

.inputSubmit:hover {
    border: 2px solid var(--success);
    background-color: var(--primary);
}

.fieldContainer {
    min-height: 75px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fieldContainer:last-of-type {
    min-height: 98px;
}

.errorMessage {
    font-size: 0.8rem;
    color: var(--secondary);
    padding: 0 1rem 2px 1rem;
    border-radius: 0 0 10px 10px;
    font-weight: bold;
    width: max-content;
    background-color: var(--error);
    margin-left: 10px;
    margin-bottom: 0.5rem;
}

@media (min-width: 400px) {
    .container {
        max-width: 550px;
    }
    .title {
        font-size: 3rem;
    }
    .paragraph {
        font-size: 1.3rem;
    }
}
