.workGridContainer {
    margin-top: 61px;
    width: 100%;
    max-width: 1600px;
    min-height: calc(100vh - 142px);
}

.filterContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 15px 0 30px;
}

.filters {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.filter {
    color: #ccc;
    text-transform: capitalize;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.filter:hover {
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    border: 1px solid var(--primary);
}

.selected {
    color: #fff;
    font-weight: bold;
}

.cardGrid {
    padding: 1rem;
}

.sectionHeader {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.hugeText {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.5rem;
    text-align: center;
    max-width: 620px;
}

.underlineRed {
    text-decoration-line: underline;
    text-decoration-thickness: 0.1rem;
    text-decoration-color: var(--primary);
}

@media (min-width: 720px) {
    .workGrid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 920px) {
    .sectionHeader {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .hugeText {
        font-size: 5rem;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        border-right: 1px solid #444;
        padding-right: 2rem;
        margin-right: 2rem;
    }

    .paragraph {
        text-align: left;
    }

    .filterContainer {
        justify-content: flex-start;
    }
}

@media (min-width: 1280px) {
    .workGrid {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-template-rows: masonry;
    }
}
