.block {
  width: 100%;
  border-top: 1px solid var(--line);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--text);
  padding: 1rem 1rem 1rem 2rem;
  max-width: 1440px;
}

.socialWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.social {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9rem;
}

.social svg {
  fill: var(--text);
}

.social svg:hover {
  fill: var(--primary);
  cursor: pointer;
}

@media (max-width: 560px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem 0 2rem;
  }
  .socialWrapper {
    padding: 1rem;
  }
}
