.footer {
  width: 100%;
  border-top: 1px solid var(--overlay);
  height: 100px;
  display: grid;
  place-items: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--text);
}
