.wrapper {
  width: 100%;
  overflow: hidden;
  height: max-content;
  filter: drop-shadow(10px 20px 20px var(--shadow));
}

.thumbnail {
  height: 200px;
  width: 100%;
  margin: 0;
  margin-bottom: -7px;
  object-fit: cover;
  object-position: top;
  z-index: 0;
  border-bottom: 5px solid var(--primary);
  border-left: 1rem solid var(--primary);
  transition: 0.3s all ease-in-out;
}

.thumbnail:hover {
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  background: white;
  color: var(--bg);
  padding: 1.5rem 1.5rem 0 1.5rem;
  z-index: 1;
  border-right: 1rem solid var(--primary);
}

.content *:not(.footer) {
  margin-bottom: 1rem;
}

.title {
  color: #202020;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  flex-grow: 1;
  font-family: 'Alata', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  transition: 0.3s all ease-in-out;
}

.title:hover {
  color: var(--primary);
  transform: scale(0.95);
}

.excerpt {
  color: #343434;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #00000033;
  padding-top: 0.8rem;
}

.date,
.more {
  margin: 0;
  font-size: 0.9rem;
  color: #202020;
}

.more {
  transition: 0.3s all ease-in-out;
}

.more:hover {
  color: var(--primary);
  transform: scale(0.9);
}

.more::before {
  color: var(--primary);
  content: '>> ';
}
