.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem 2rem;
  margin: 6rem 0;
}

@media (max-width: 960px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
    padding-top: 7rem;
  }
}

@media (max-width: 720px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
