.block {
    width: 100%;
    padding: 2rem;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.bannerText {
    color: var(--primary);
    font-size: 3rem;
    font-weight: bold;
    padding: 0;
    white-space: nowrap;
}

.heading {
    font-size: 1.7rem;
    color: var(--text);
    text-transform: uppercase;
    padding: 0;
    border: none;
    z-index: 1;
}

.heading::before {
    color: var(--primary);
    content: '↓ ';
    font-size: 2.2rem;
    position: relative;
    top: 5px;
}

.heading:hover {
    transform: scale(1);
}

.cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem 2rem;
}

.anchor {
    display: block;
    position: relative;
    bottom: 28vh;
    visibility: hidden;
}

@media (max-width: 1080px) {
    .cardsContainer {
        grid-template-columns: 1fr 1fr;
        padding: 0;
    }
}

@media (max-width: 540px) {
    .container {
        gap: 1rem;
    }

    .anchor {
        bottom: 20vh;
    }

    .cardsContainer {
        grid-template-columns: 1fr;
        margin: 0;
    }
}
