.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem 2rem;
  margin: 6rem 0;
}

@media (max-width: 980px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 720px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
