.lightTheme {
  --bg: #ededed;
  --bg-50: #ededed99;
  --foreground: #202020;
  --line: #67676733;
  --text: #343434;
  --primary: #dc143c;
  --shadow: #00000040;
  --tag: #20202020;
}

.darkTheme {
  --bg: #202020;
  --bg-50: #20202099;
  --foreground: #fafafa;
  --line: #95959533;
  --text: #bcbcbc;
  --primary: #dc143c;
  --shadow: #00000055;
  --tag: #ededed22;
}

.wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--bg);
}

.loaderWrapper {
  transition: 0.3s all ease-in-out;
}
