.lightTheme {
  --bg: #ededed;
  --foreground: #202020;
  --line: #67676733;
  --text: #343434;
  --primary: #8500b7;
  --shadow: #00000040;
}

.darkTheme {
  --bg: #202020;
  --foreground: #fafafa;
  --line: #95959533;
  --text: #bcbcbc;
  --primary: #8500b7;
  --shadow: #00000055;
}

.wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--bg);
}

.loaderWrapper {
  transition: 0.3s all ease-in-out;
}
