@font-face {
  font-family: 'Alata';
  src: local('Alata'),
    url('./assets/fonts/Alata-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Titillium';
  src: local('Titillium'),
    url('./assets/fonts/TitilliumWeb-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  color: white;
  margin: 0;
  font-family: 'Titillium', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Alata', sans-serif;
}

a {
  text-decoration: none;
}

a,
p,
button {
  font-family: 'Titillium', sans-serif;
}
