.block {
  width: 100%;
  border: 1px solid white;
}

.wrapper {
  padding: 2rem;
  border: 5px solid red;
}

.anchor {
  display: block;
  position: relative;
  top: -160px;
  visibility: hidden;
}

@media (max-width: 960px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 460px) {
  .work {
    margin-top: 80px;
  }
}
