.work {
  width: 100%;
  max-width: 1280px;
  top: 80px;
  margin-top: 80px;
}

.anchor {
  display: block;
  position: relative;
  top: -160px;
  visibility: hidden;
}

@media (max-width: 960px) {
  .work {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .anchor {
    top: 0px;
  }
}

@media (max-width: 560px) {
  .work {
    margin-top: 80px;
  }
}
