.block {
  width: 100%;
  border: 1px solid white;
}

.wrapper {
  padding: 2rem;
  border: 5px solid red;
}

.anchor {
  display: block;
  position: relative;
  top: -160px;
  visibility: hidden;
}

.button {
  display: block;
  text-align: left;
  border: 1px solid yellow;
}

@media (max-width: 960px) {
  .button {
    text-align: center;
  }
  .work {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .anchor {
    top: 0px;
  }
}

@media (max-width: 460px) {
  .work {
    margin-top: 80px;
  }
}
